* {
    border: 1px solid black;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rock+Salt&display=swap');
body {
    font-family: roboto, verdana, sans-serif;
    background-color: beige;
}
a:hover {
    background-color: darkgray;
    color: white;
}
/* Menu */
nav {
    display: flex;
}
h1 {
    font-size: 1em;
}
img {
    width: 15%;
}
#primary {
    background-color: red;
}
a{
    background-color: lightblue;
    color: rgb(71, 68, 69);
    text-decoration: none;
    padding: 10px;
    margin: 80px auto;
    text-align: center;
}

/* Main */

p {
    width: 40%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}
.background {
    background-color: #ccc;
}
footer {
    background-color: lightblue;
    color: rgb(71, 68, 69);
}
footer p {
    text-align: center;
}